<app-header></app-header>
<div class="container">
    <div class="main_div">
        <mat-grid-list cols="10" gutterSize="10px" class="grid_main">
            <!-- Left Column -->
            <mat-grid-tile colspan="3" rowspan="5">
                <mat-card appearance="outlined" class="full-width-card grid_left">
                    <mat-card-content *ngIf="user_details">
                        <div class="cover_image" [ngStyle]="{'background-image': 'url(' + user_details?.cover_image + ')', 
            'background-size': 'cover', 
            'height': '200px'}">
                            <div class="profile_container">
                                <div class="profile_image" [routerLink]="['/profile', user_details?.id]">
                                    <img src="{{user_details?.profile_image}}" alt="">
                                </div>
                            </div>
                            <div class="profile_info">
                                <h1>{{user_details?.firstname}} {{user_details?.lastname}}</h1>
                            </div>

                        </div>
                        <div class="profile_details">
                            <form class="example-form">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>First Name</mat-label>
                                    <input matInput>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput>
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Gender</mat-label>
                                    <mat-select>
                                        <mat-option value="male"> Male </mat-option>
                                        <mat-option value="female"> Female </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput readonly [matDatepicker]="picker" (focus)="picker.open()"
                                        placeholder="dd-MM-yyyy">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Mobile</mat-label>
                                    <input type="tel" matInput maxlength="10">
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Work Exprience</mat-label>
                                    <input matInput>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Education</mat-label>
                                    <input matInput>
                                </mat-form-field>

                                <mat-form-field style="width: 100%;">
                                    <mat-label>Profile Image</mat-label>
                                    <button mat-icon-button matPrefix (click)="f_input.click()">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <input type="text" readonly matInput [formControl]="display" />
                                    <input type="file" hidden #f_input
                                        (change)="handleFileInputChange(f_input.files)" />
                                    <mat-error>this field is required</mat-error>
                                </mat-form-field>


                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>About Yourself</mat-label>
                                    <textarea matInput></textarea>
                                </mat-form-field>
                            </form>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <!-- Center Column -->
            <mat-grid-tile colspan="7" rowspan="5" class="grid_padding_left">
                <mat-card appearance="outlined" class="full-width-card">
                    <mat-card-content *ngIf="user_details">
                        <div class="cover_image" [ngStyle]="{'background-image': 'url(' + user_details?.cover_image + ')', 
            'background-size': 'cover', 
            'height': '200px'}">
                            <div class="profile_container">
                                <div class="profile_image" [routerLink]="['/profile', user_details?.id]">
                                    <img src="{{user_details?.profile_image}}" alt="">
                                </div>
                            </div>
                            <div class="profile_info">
                                <h1>{{user_details?.firstname}} {{user_details?.lastname}}</h1>
                                <h4>{{user_details?.email}}</h4>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>