<app-header></app-header>
<div class="container">
  <div class="main_div">
    <mat-grid-list cols="10" gutterSize="10px" class="grid_main">
      <!-- Left Column -->
      <mat-grid-tile colspan="3" rowspan="5" class="grid_padding_left">
        <mat-card appearance="outlined" class="full-width-card">
          <mat-card-content *ngIf="user_details">
            <div class="cover_image"  [ngStyle]="{'background-image': 'url(' + user_details?.cover_image + ')', 
            'background-size': 'cover', 
            'height': '200px'}">
            <div class="profile_container">
              <div class="profile_image" [routerLink]="['/profile', user_details?.id]" >
                <img src="{{user_details?.profile_image}}" alt="">
              </div>
            </div>
              <div class="profile_info">
                <h1>{{user_details?.firstname}} {{user_details?.lastname}}</h1>
                <h4>{{user_details?.email}}</h4>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined" class="full-width-card" *ngIf="arrRequestFollowers.length">
          <mat-card-content>
            <h4 class="recommendation-title">Request Followers</h4>
            <div class="recommendation-list" *ngFor="let user of arrRequestFollowers; let i=index">
              <div>{{user.follower_id?.firstname}} {{user.follower_id?.lastname}}</div>
              <button mat-raised-button class="customFollowBack" (click)="followback(i)" [disabled]="user.isSubmitFollowing">
                <mat-spinner [diameter]="20" class="customSpinner" color="primary" *ngIf="user.isSubmitFollowing"></mat-spinner> 
                <span>Follow Back</span>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
        
      </mat-grid-tile>
    
      <!-- Center Column: Social Media Feed -->
      <mat-grid-tile colspan="5" rowspan="5">
        <div class="post-card-container">
          <div class="flex post-input-box-area">
              <input type="text" class="post-input-box" readonly (click)="openAddModal()" placeholder="Create your post..">
              <button class="mat-primary post_button">Post</button>
          </div>
          <div *ngFor="let item of arrPost; let i=index">
            <mat-card appearance="outlined" class="post-card" >
              <div class="post_title_area">
                <div class="post_title_area">
                  <div mat-card-avatar class="post-avatar1"><img src="{{item.user_id?.profile_image}}" class="user_navigation" alt="profile_image"></div>
                  
                  <div>
                    <mat-card-title><span class="user_navigation">{{ item.user_name }}</span></mat-card-title>
                    <mat-card-subtitle>{{ item.createdAt | date: 'dd-mm-yyyy, h:mm a' }}</mat-card-subtitle>
                  </div>
                </div>

                <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
                  <mat-icon>more_vert</mat-icon>
                </button>
              
                <!-- Menu with options -->
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="onEdit()">Edit</button>
                  <button mat-menu-item (click)="onDelete(i)">Delete</button>
                </mat-menu>
              </div>
      
              <mat-card-content>
                <p>{{ item.details_info }}</p>
                <div class="image-grid1" *ngIf="item.post_image?.length>0">
                  <div class="post-first-image">
                    <img [src]="item.post_image[0]" alt="image">
                  </div>
                  <ng-container *ngIf="item.post_image?.length>1">
                    <div class="image-grid">
                      <div class="col-md-2 col-6" *ngFor="let data of item.post_image; let i=index">
                          <div class="post-image-up" *ngIf="i>1">
                              <img [src]="data" alt="image">
                          </div>
                      </div>
                    </div>
                  </ng-container>
              </div>
              </mat-card-content>
      
              <img mat-card-image *ngIf="item.image" [src]="item.image" alt="Post image">
      
              <mat-card-actions class="social_like">
                <div class="like_main">
                  <button mat-button (click)="onClickLike(i)">Like</button>
                  <div class="like_length" *ngIf="item.like.length>0" [ngClass]="{active: item.like.length>1}"><span *ngIf="item.like.length>1">{{item.like[0].firstname}} more </span> {{item.like.length}}</div>
                </div>
                <button mat-button>Comment</button>
                <button mat-button>Share</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-grid-tile>
    
      <!-- Right Column -->
      <mat-grid-tile colspan="2" rowspan="3" class="grid_padding_right">
        <mat-card appearance="outlined" class="full-width-card">
          <mat-card-content>
            <h4 class="recommendation-title">Recommendation Followers</h4>
            <div class="recommendation-list" *ngFor="let user of arrRecommendation">
              <div >{{user.firstname}} {{user.lastname}}</div>
              <button mat-raised-button>Follow</button>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    
  </div>
</div>
<!-- <app-footer></app-footer> -->