.full-width-card {
  /* height: 100vh; */
    width: 100%;       /* Ensures the card takes full width of the tile */
    margin: 5px;       /* Adds spacing between cards */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visual */
  }
  
  mat-grid-list {
    height: 100%; /* Takes the height of the parent container */
  }
  .post-card {
    margin: 10px; /* Space between cards */
    padding: 15px;
  }
  
  .post-avatar {
    background-color: lightgray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  /* mat-card-header {
    display: flex;
    align-items: center;
  } */
  
  mat-card-title, mat-card-subtitle {
    margin-left: 10px;
  }
  
  mat-card-content p {
    margin: 10px 0;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-around;
    padding: 0 10px 10px 10px;
  }
  
  mat-card-actions button {
    font-size: 12px;
    color: gray;
  }
  
  .post-card-container{
    width: 100%;
    overflow: scroll;
    height: 100%;
  }
  
  .post-card-container::-webkit-scrollbar {
    display: none;
  }
  /* .grid_padding_left{
    padding-top: calc(5% - 7px) !important;
    height: 50%;
  }
  .grid_padding{
    padding-top: calc(5% - 7px) !important;
  }
  .grid_main{
    padding-bottom: calc(45% - 5px) !important;
  } */

  mat-grid-tile.mat-grid-tile-content {
    display: inline !important;
  }

  /* Styles for mat-grid-tile-content */
mat-grid-tile-content {
  display: inline-block !important;
}
.post-input-box-area, .post-input-box{
  width: 100%;
}
.post-input-box{
  border-radius: 5px;
  padding: 15px;
}
.like_main{
  position: relative;
}
.like_length{
  position: absolute;
  top: 0;
  right: 0;
}
.like_length.active{
  top: -20px;
  right: -30px;
}
.social_like{
  background: #f9f9f9;
}
.post_button{
  padding: 10px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.post-image-up {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
}

.post-first-image{
  border-radius: 10px;
  margin-bottom: 10px;
}

.post-image-up img, .post-first-image img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.profile_image {
  height: 100px;
  width: 100px;
  border: 2px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
}

.profile_image img {
  border-radius: 50%;
}
.profile_container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_info{
  text-align: center;
}
.profile_info h1{
  font-family: cursive;
}
.recommendation-title{
  font-size: 20px;
  font-family: cursive;
  text-decoration: underline;
  font-weight: 600;
}
.recommendation-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.customFollowBack{
  height: 35px;
  width: 30%;
  position: relative;
}
.customSpinner{
  position: absolute;
  margin: 10px 35px;
}
.user_navigation{
  cursor: pointer;
}
.post_title_area{
  display: flex;
  justify-content: space-between;
}