<app-header></app-header>
<div class="container">
  <div class="main_div">
    <mat-grid-list cols="10" gutterSize="10px" class="grid_main">
      <!-- Left Column -->
      <mat-grid-tile colspan="3" rowspan="3" class="grid_padding_left">
        <mat-card appearance="outlined" class="full-width-card">
          <mat-card-content>
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
            Simple card content 1
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    
      <!-- Center Column: Social Media Feed -->
      <mat-grid-tile colspan="5" rowspan="5">
        <div class="post-card-container">
          <div class="flex post-input-box-area">
              <input type="text" class="post-input-box" readonly (click)="openAddModal()">
              <button class="mat-primary">Create Post</button>
          </div>
          <div *ngFor="let item of arrPost">
            <mat-card appearance="outlined" class="post-card" >
              <mat-card-header>
                <div mat-card-avatar class="post-avatar1"><img src="{{item.user_id?.profile_image}}" alt="profile_image"></div>
                <mat-card-title>{{ item.user_name }}</mat-card-title>
                <mat-card-subtitle>{{ item.createdAt | date: 'dd-mm-yyyy, h:mm a' }}</mat-card-subtitle>
              </mat-card-header>
      
              <mat-card-content>
                <p>{{ item.details_info }}</p>
              </mat-card-content>
      
              <img mat-card-image *ngIf="item.image" [src]="item.image" alt="Post image">
      
              <mat-card-actions>
                <div class="like_main">
                  <button mat-button>Like</button>
                  <div class="like_length" *ngIf="item.like.length>0" [ngClass]="{active: item.like.length>1}"><span *ngIf="item.like.length>1">{{item.like[0].firstname}} more </span> {{item.like.length}}</div>
                </div>
                <button mat-button>Comment</button>
                <button mat-button>Share</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-grid-tile>
    
      <!-- Right Column -->
      <mat-grid-tile colspan="2" rowspan="3" class="grid_padding_right">
        <mat-card appearance="outlined" class="full-width-card">
          <mat-card-content>Simple card content 3</mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    
  </div>
</div>
<!-- <app-footer></app-footer> -->