<div class="app-header">
    <div class="topnav">
        <span [routerLink]="['/dashboard']" class="title">Social Champ</span>
        <div class="desktop">
            <div class="notification notification-container" (mouseenter)="showNotifications()" >
                <mat-icon class="notification-icon">notifications</mat-icon>
                <span class="notification-count" *ngIf="notification_count">{{notification_count}}</span>
            </div>
            <div>
                <mat-icon aria-hidden="false" matTooltip="Logout" (click)="logout()">logout</mat-icon>
            </div>
        </div>
        <div class="mobile-menu">
            <mat-icon (click)="onMobileNavBarClick()">menu</mat-icon>
            <div class="main-menu-bar">
                <div class="mobile-title-area">
                    <span [routerLink]="['/dashboard']" class="title">Social Champ</span>
                    <button mat-icon-button class="close-sidebar" (click)="closeSidebar()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <ul class="mobile-menu-item">
                    <li (click)="logout()">Log Out</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="notification-list" *ngIf="isHovered && arrNotification.length>0">
    <div class="notification-title">Notification</div>
    <ul>
        <ng-container *ngFor="let item of arrNotification; let i=index">
            <li class="notification_contain" [ngClass]="{active: !item.isCheck}" (click)="onClickNotification(i)">
                    <img [src]="item.user_id.profile_image" alt="profile_image">
                    <strong>{{item.user_id.firstname}}</strong> {{item.notification_type}}<span>your post</span>
              </li>
        </ng-container>
    </ul>
</div>
