<div class="app-header">
    <div class="topnav">
        <span [routerLink]="['/dashboard']" class="title">Social Champ</span>
        <div class="desktop">
            <div class="notification notification-container" (mouseenter)="showNotifications()" >
                <mat-icon class="notification-icon">notifications</mat-icon>
                <span class="notification-count">{{arrNotification.length}}</span>
            </div>
            <div>
                <mat-icon aria-hidden="false" matTooltip="Logout" (click)="logout()">logout</mat-icon>
            </div>
        </div>
        <div class="mobile-menu">
            <mat-icon (click)="onMobileNavBarClick()">menu</mat-icon>
            <div class="main-menu-bar">
                <div class="mobile-title-area">
                    <span [routerLink]="['/dashboard']" class="title">Social Champ</span>
                    <button mat-icon-button class="close-sidebar" (click)="closeSidebar()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <ul class="mobile-menu-item">
                    <li (click)="logout()">Log Out</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="notification-list" *ngIf="isHovered && arrNotification.length>0">
    <h3>Notification</h3>
    <ul>
      <li *ngFor="let item of arrNotification">
        <div class="notification_contain">
            <img [src]="item.user_id.profile_image" alt="profile_image">
            <strong>{{item.user_id.firstname}}</strong> {{item.notification_type}}<span>your post</span>
        </div>
      </li>
    </ul>
</div>
