.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title button {
    padding: 5px;
    border-radius: 5px;
}

.post_back_area {
    display: flex;
    align-items: center;
    gap: 5px;
}

.back-button {
    cursor: pointer;
}

.post-input-box-area {
    border: 1px solid;
    width: 100%;
    padding: 10px;
}

.custom_images {
    height: 150px;
    width: 150px;
}
.remove-image-outer{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}